<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% extends 'base.html' %}
{% load static %}

<head>
  {% block meta %}
  <title>About Me</title>
  {% endblock meta %}
</head>

<body>
  {% block content %}
    <div class="profile-header">
      <div class="self-detail">
        <div class="self-image">
          <img src="/static/images/Pasfoto.jpg">
        </div>
        <div class="self-data">
          <h2>Brian Christian</h2>
          <p>1906398295</p>
          <p>Student at <strong>Universitas Indonesia</strong><br>
            <i class="fa fa-map-marker" aria-hidden="true"></i>  Jakarta, Indonesia
          </p>
        </div>
      </div>
      <div class="tab-panel-main">
        <ul class="tabs">
          <li class="tab-link current" data-tab="Basic-info">Basic Info</li>
          <li class="tab-link" data-tab="Edu-info">Education History</li>
          <li class="tab-link" data-tab="Exp-info">Experience</li>
        </ul>
        <div id="Basic-info" class="tab-content current">
          <div class="profile-box">
            <div class="heading">
              <p>Profile</p>
            </div>
            <div class="desc">
              I am a student of class 2019 currently studying at the Faculty of Computer Science, 
              Universitas Indonesia. I like things related to technology, especially in the field 
              of computer science. Outside of that, I have an interest in music, gaming, and reading.
            </div>
          </div>
          <div class="detail-box">
            <p>Detail</p>
            <ul class="ul-first">
              <li>Birth date</li>
              <li>City</li>
              <li>Country</li>
              <li>Contact</li>
            </ul>
            <ul class="ul-second">
              <li>18 January 2002</li>
              <li>Jakarta</li>
              <li>Indonesia</li>
              <li>brian.christian@ui.ac.id</li>
            </ul>
          </div>
        </div>
        <div id="Edu-info" class="tab-content">
          <div class="Edu-box-main">
            <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h2>
            <div class="Edu-box">
              <h5><span>SD Budhaya II</span> <br>
                2007 - 2013 | </h5>
            </div>
            <div class="Edu-box">
              <h5><span>SMPK 5 Penabur</span> <br>
                2013 - 2016 | </h5>
            </div>
            <div class="Edu-box">
              <h5><span>SMAK 7 Penabur</span> <br>
                2016 - 2019 | Science</h5>
            </div>
            <div class="Edu-box">
              <h5><span>Universitas Indonesia</span> <br>
                2019 - Now | Computer Science</h5>
            </div>
          </div>
        </div>
        <div id="Exp-info" class="tab-content">
          <div class="Exp-box">
            <h3>Skills</h3>
            <div class="skill-box"><img src="/static/images/python.svg"></div>
            <div class="skill-box"><img src="/static/images/java.svg"></div>
            <div class="skill-box"><img src="/static/images/Bootstrap_logo.svg"></div>
            <div class="skill-box"><img src="/static/images/html-5.svg"></div>
            <div class="skill-box"><img src="/static/images/css-3.svg"></div>
            <div class="skill-box"><img src="/static/images/flask.png"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('ul.tabs li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      });
    });
  </script>
  {% endblock content %}
</body>
</html>