{% extends 'base.html' %}

{% block meta %}
<title>Delete Matkul</title>
{% endblock meta %}

{% block content %}
<div class="delete-matkul">
    <h1>Delete Matkul</h1>
    <br/>
    <h3>Delete: {{ matkul.NamaMatkul }}</h3>
    <div class="form-group">
        <form method="POST"> {% csrf_token %}
            <strong>Yakin???</strong>
            <br/>
            <button class="tombol">
                <p>Delete Matkul!</p>
            </button>
        </form>
    </div>
</div>
{% endblock content %}