{% extends 'base.html' %}

{% block meta %}
<title>List Matkul</title>
{% endblock meta %}

{% block content %}
<div class="box-matkuls">
    <h1>Mata Kuliyah</h1>
    <ul>
        {% for matkul in object_list %}
        <li><a href="{% url 'home:detail' matkul.pk  %}">{{ matkul.NamaMatkul }}</a><br/></li>
        <small><a href="{% url 'home:delete' matkul.pk  %}">(Delete)</a></small>
        {% endfor %}
    </ul>
</div>
{% endblock content %}