<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load static %}

<head>
  {% block meta %}
  <title>Projects</title>
  {% endblock meta %}
</head>

<body>
  {% block content %}
    <div class="profile-project">
      <h4>Projects</h4>
      <div class="projects">
        <div class="projects-image">
          <img src="/static/images/WIP.jpg">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="projects">
        <div class="projects-image">
          <img src="/static/images/WIP.jpg">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="projects">
        <div class="projects-image">
          <img src="/static/images/WIP.jpg">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="projects">
        <div class="projects-image">
          <img src="/static/images/WIP.jpg">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  {% endblock content %}
</body>
</html>